:root {
  --monospace-font: ui-monospace,
                Menlo, Monaco,
                "Cascadia Mono", "Segoe UI Mono",
                "Roboto Mono",
                "Oxygen Mono",
                "Ubuntu Monospace",
                "Source Code Pro",
                "Fira Mono",
                "Droid Sans Mono",
                "Courier New", monospace;
  --form-width: 500px;
}

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
}

#races_filters {
  display: block;
  width: var(--form-width);
  position: sticky;
  top: 0;
  overflow-y: auto;
  max-height: 100vh;
}

#races_filters label {
  display: block;
  font-family: var(--monospace-font);
}

.results-list {
  background: #eee;
  padding: 0.5em;
  margin-left: 2em;
}

.results-list div.race.no-has-results {
  display: none;
}

.results-list div.race h3 {
  margin: 0.5em 0 0;
}

.results-list kbd {
  font-family: var(--monospace-font);
  font-weight: 700;
}

.results-list dl.race-stats {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.results-list dl.race-stats dt {
  width: 60px;
}

.results-list dl.race-stats dd {
  margin-left: 1em;
  width: calc( 100% - 60px - 1em );
}

.results-list ol.levels-table {
  padding: 0.5em;
  font-family: var(--monospace-font);
  list-style-type: none;
  background: #111;
  color: #eee;
  font-weight: 700;
  display: inline-block;
}


.results-list div.race.no-has-results dl.race-stats,
.results-list div.race.no-has-results ol.levels-table {
  display: none;
}

/*
.results-list ol.levels-table li {

}
*/

.results-list ol.levels-table li ol.levels-row {
  display: inline-block;
  list-style-type: none;
  padding: 0 0 0 1em;
}

.results-list ol.levels-table li ol.levels-row li {
  display: inline-block;
  width: 2.1em;
  text-align: right;
  padding-right: 0.2em;
}

.results-list ol.levels-table li ol.levels-row li.t-0 {
  color: blue;
}
.results-list ol.levels-table li ol.levels-row li.t-1 {
  color: chartreuse;
}

.results-list ol.levels-table li ol.levels-row li.t-2,
.results-list ol.levels-table li ol.levels-row li.t-3 {
  color: cyan;
}

.results-list ol.levels-table li ol.levels-row li.t-4 {
  color: yellow;
}

.results-list ol.levels-table li ol.levels-row li.t-5,
.results-list ol.levels-table li ol.levels-row li.t-6 {
  color: red;
}

.results-list ol.levels-table li.nomatch {
  opacity: 0.4;
}

.results-list p.trait {
  margin: 0;
  padding: 0.25em;
}

.results-list p.trait:nth-of-type(even) {
  background: rgba( 0, 0, 0, 0.1 );
}

@media screen and ( max-width: 900px ) {
  #root {
    display: block;
  }
  #races_filters {
    width: 100%;
    position: relative;
  }
  .results-list {
    margin-left: 0;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }
  .results-list {
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    margin-left: 2em;
  }
}